
 <div class="center hero-unit">
 
    	
		      		
		     <%= render 'homepage' %>
		 

    	<p><%= link_to "Sign in With Facebook", "auth/facebook?state=listener", class: "btn btn-large btn-primary" %></p>
    	<p>And start listening now!</p>
</div>


