
@charset "UTF-8";
/* CSS Document */


*{
-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}
article.tc-discover-cart ul li{
	background-image:none;
	border-bottom:1px dotted #666;
}

article.tc-discover-cart header{
	cartor:white;	
}

article.tc-discover-cart {
	background:none !important;
}

.product{
	padding:10px 10px 0px 25px;
}

.tc-cart-row, .tc-cart-later-row{
	clear:both;	
}

.tc-cart-later-row{
	margin:20px 0px 15px 0px;
}

a.cart-later-btn:first-child{
	margin-right:13px;	
}
.ui-body-c .ui-link{
	color:#ccc;
	font-weight:normal;
}

a.cart-later-btn{
	display:inline-block;
	float:right;
	padding:3px 6px;
	font-weight:normal;
	font-size:11px;
	background:#534F4F;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-right:13px;
	
}

.tc-cart-row p{
	padding:2px 0px;
	margin:0px;
	font-size:11px;
}

/* Header layout */
.tc-cart-cart-half-l, .tc-cart-cart-half-r{
	width:50%;
	float:left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tc-cart-cart-half-r{
	text-align:right;	
}

/* Price layout */
.tc-cart-cart-threequarter-one, .tc-cart-cart-threequarter-two, .tc-cart-cart-threequarter-three{
	float:left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	
}

.tc-cart-cart-threequarter-one{
	width:60%;
	
}

.tc-cart-cart-threequarter-two{
	width:20%;
	text-align:right;
	padding-right:10px;
}

.tc-cart-cart-threequarter-three{
	width:20%;
	text-align:right;
}
.tc-cart-row:after, .tc-cart-later-row:after {  
     content: "";
	 display: block; 
	 clear: both;
	 height:0px;
    }  
.subtotal{
	padding:10px 10px 10px 5px;
	color: white;
}

a#expand{
	background:url("images/arrow-expand.png") no-repeat;
	background-position:0px 2px;
	width:12px;
	height:14px;
	display:inline-block;
	margin-right:5px;
	color:#82CBC6;
	padding-left:18px;
	margin-left:-20px;
	
}
	