
#home-header {
	h1 {
		font-size: 6em;
		letter-spacing: -2px;
		margin-bottom: 30px;
		text-align: center;
		background-color: #fff;
	}
}

.mybutton {
	background-image: url("images/homePSD_01.png");
	background-size: 18px 18px;
}

